@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

:root {
    --color-dark: rgb(36, 32, 56);
    --color-highlight: rgb(114, 90, 193);
    --color-base: rgb(141, 134, 201);
    --color-lowlight: rgb(202, 196, 206);
    --color-light: rgb(247, 236, 225);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/escheresque_ste.png");
}

main {
    width: 360px;
    display: flex;
    flex-direction: column;
    margin: 48px auto;
    padding: 8px;

    background-color: var(--color-light);
    border: 4px solid gray;
    border-radius: 10px;
    
    font-family: 'Roboto Mono', monospace;
}

#display-div {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 black inset;
    background-color: var(--color-lowlight);

    padding: 0 16px;
    margin-bottom: 24px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: right;
}

#display {
    text-align: right;
    font-size: 36px;
    margin: 0;
}

#buttons {
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    gap: 2px;
}

#buttons button {
    
    border-radius: 5px;
}

.button-number {
    font-size: 32px;
    background-color: var(--color-lowlight);
    color: var(--color-dark);
}

.button-number:hover {
    background-color: var(--color-highlight);
    color: var(--color-light);
    border: 2px solid var(--color-dark);
}

.button-operation {
    background-color: var(--color-base);
    

    color: var(--color-light);
    font-size: 42px;

}

.button-operation:hover {
    background: transparent;
    color: var(--color-dark);
    border: 2px solid var(--color-base);
}

#button-equals {
    grid-column: -2 / -1;
    grid-row: -2 / -1;
}

#button-clear {
    background-color: rgb(201, 141, 134);
}

#button-clear:hover {
    background: transparent;
    color: var(--color-dark);
    border: 2px solid rgb(201, 141, 134);
}